html body .portfolio img {
    border: 4px solid black;
}
.jumbotron img {
    width: 150px;
    
}
.about img {
    width: 18   0px ;
    height: 180px;
}
.contact {
          
}   
h1{
    font-weight: bold;
}
form {
    margin-top: 30px;
}

html body .row textarea {
    width: 405px;
    margin-top: 10px;
    height: 150px;
}

.btn  {
    width: 405px;
    margin-top: 10px;
}

.profil {
    font-family: 'Passion One', cursive;
    font-size: 18px;
    margin-top: 30px;
}

.wa {
    margin-top: 10px;
}
hr{
    border: 3px solid black;
    width: 20%;
}
input[type="text"] {
    margin-right: 30px;
    width: 15%;

}
input[type="email"] {
    margin-right:30px ;
    width: 15%;
}
footer{
    margin-top: 50px;
}
.jumbotron{
    margin-top: 30px;
}
.contact a{
    color: white;
}
